backend/scripts/fds-wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b230824.1031 svn-revision#e4bad6ac24018736698e2952f77e76e7f403a9f1. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b230824.1031 svn-revision#e4bad6ac24018736698e2952f77e76e7f403a9f1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.alfaprojekt.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.alfaprojekt.com/" name="iKlientService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.alfaprojekt.com/" schemaLocation="https://poland.fedex.com:443/fdsWs/IklServicePort?xsd=1"/>
</xsd:schema>
</types>
<message name="pobierzStatusyPrzesylki">
<part name="parameters" element="tns:pobierzStatusyPrzesylki"/>
</message>
<message name="pobierzStatusyPrzesylkiResponse">
<part name="parameters" element="tns:pobierzStatusyPrzesylkiResponse"/>
</message>
<message name="Fault">
<part name="fault" element="tns:Fault"/>
</message>
<message name="pobierzStatusyPaczki">
<part name="parameters" element="tns:pobierzStatusyPaczki"/>
</message>
<message name="pobierzStatusyPaczkiResponse">
<part name="parameters" element="tns:pobierzStatusyPaczkiResponse"/>
</message>
<message name="wydrukujEtykiete">
<part name="parameters" element="tns:wydrukujEtykiete"/>
</message>
<message name="wydrukujEtykieteResponse">
<part name="parameters" element="tns:wydrukujEtykieteResponse"/>
</message>
<message name="wydrukujEtykietePaczki">
<part name="parameters" element="tns:wydrukujEtykietePaczki"/>
</message>
<message name="wydrukujEtykietePaczkiResponse">
<part name="parameters" element="tns:wydrukujEtykietePaczkiResponse"/>
</message>
<message name="wydrukjList">
<part name="parameters" element="tns:wydrukjList"/>
</message>
<message name="wydrukjListResponse">
<part name="parameters" element="tns:wydrukjListResponse"/>
</message>
<message name="zapiszDokumentWydania">
<part name="parameters" element="tns:zapiszDokumentWydania"/>
</message>
<message name="zapiszDokumentWydaniaResponse">
<part name="parameters" element="tns:zapiszDokumentWydaniaResponse"/>
</message>
<message name="pobierzDokumentWydania">
<part name="parameters" element="tns:pobierzDokumentWydania"/>
</message>
<message name="pobierzDokumentWydaniaResponse">
<part name="parameters" element="tns:pobierzDokumentWydaniaResponse"/>
</message>
<message name="pobierzNumerDokumentuList">
<part name="parameters" element="tns:pobierzNumerDokumentuList"/>
</message>
<message name="pobierzNumerDokumentuListResponse">
<part name="parameters" element="tns:pobierzNumerDokumentuListResponse"/>
</message>
<message name="zapiszList">
<part name="parameters" element="tns:zapiszList"/>
</message>
<message name="zapiszListResponse">
<part name="parameters" element="tns:zapiszListResponse"/>
</message>
<message name="dodajKlienta">
<part name="parameters" element="tns:dodajKlienta"/>
</message>
<message name="dodajKlientaResponse">
<part name="parameters" element="tns:dodajKlientaResponse"/>
</message>
<message name="dodajZlecenie">
<part name="parameters" element="tns:dodajZlecenie"/>
</message>
<message name="dodajZlecenieResponse">
<part name="parameters" element="tns:dodajZlecenieResponse"/>
</message>
<message name="edytujKlienta">
<part name="parameters" element="tns:edytujKlienta"/>
</message>
<message name="edytujKlientaResponse">
<part name="parameters" element="tns:edytujKlientaResponse"/>
</message>
<message name="szukajKlienta">
<part name="parameters" element="tns:szukajKlienta"/>
</message>
<message name="szukajKlientaResponse">
<part name="parameters" element="tns:szukajKlientaResponse"/>
</message>
<message name="edytujList">
<part name="parameters" element="tns:edytujList"/>
</message>
<message name="edytujListResponse">
<part name="parameters" element="tns:edytujListResponse"/>
</message>
<message name="usunKlienta">
<part name="parameters" element="tns:usunKlienta"/>
</message>
<message name="usunKlientaResponse">
<part name="parameters" element="tns:usunKlientaResponse"/>
</message>
<message name="pobierzDostepneUslugi">
<part name="parameters" element="tns:pobierzDostepneUslugi"/>
</message>
<message name="pobierzDostepneUslugiResponse">
<part name="parameters" element="tns:pobierzDostepneUslugiResponse"/>
</message>
<message name="zapiszListV2">
<part name="parameters" element="tns:zapiszListV2"/>
</message>
<message name="zapiszListV2Response">
<part name="parameters" element="tns:zapiszListV2Response"/>
</message>
<message name="zapiszListZwrotnyV2">
<part name="parameters" element="tns:zapiszListZwrotnyV2"/>
</message>
<message name="zapiszListZwrotnyV2Response">
<part name="parameters" element="tns:zapiszListZwrotnyV2Response"/>
</message>
<message name="dodajZlecenieV2">
<part name="parameters" element="tns:dodajZlecenieV2"/>
</message>
<message name="dodajZlecenieV2Response">
<part name="parameters" element="tns:dodajZlecenieV2Response"/>
</message>
<message name="pobierzZbiorStatusow">
<part name="parameters" element="tns:pobierzZbiorStatusow"/>
</message>
<message name="pobierzZbiorStatusowResponse">
<part name="parameters" element="tns:pobierzZbiorStatusowResponse"/>
</message>
<message name="potwierdzZbiorStatusow">
<part name="parameters" element="tns:potwierdzZbiorStatusow"/>
</message>
<message name="potwierdzZbiorStatusowResponse">
<part name="parameters" element="tns:potwierdzZbiorStatusowResponse"/>
</message>
<message name="anulujZlecenie">
<part name="parameters" element="tns:anulujZlecenie"/>
</message>
<message name="anulujZlecenieResponse">
<part name="parameters" element="tns:anulujZlecenieResponse"/>
</message>
<message name="pobierzWersje">
<part name="parameters" element="tns:pobierzWersje"/>
</message>
<message name="pobierzWersjeResponse">
<part name="parameters" element="tns:pobierzWersjeResponse"/>
</message>
<portType name="IklService">
<operation name="pobierzStatusyPrzesylki">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzStatusyPrzesylkiRequest" message="tns:pobierzStatusyPrzesylki"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzStatusyPrzesylkiResponse" message="tns:pobierzStatusyPrzesylkiResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzStatusyPrzesylki/Fault/Fault"/>
</operation>
<operation name="pobierzStatusyPaczki">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzStatusyPaczkiRequest" message="tns:pobierzStatusyPaczki"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzStatusyPaczkiResponse" message="tns:pobierzStatusyPaczkiResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzStatusyPaczki/Fault/Fault"/>
</operation>
<operation name="wydrukujEtykiete">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukujEtykieteRequest" message="tns:wydrukujEtykiete"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukujEtykieteResponse" message="tns:wydrukujEtykieteResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukujEtykiete/Fault/Fault"/>
</operation>
<operation name="wydrukujEtykietePaczki">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukujEtykietePaczkiRequest" message="tns:wydrukujEtykietePaczki"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukujEtykietePaczkiResponse" message="tns:wydrukujEtykietePaczkiResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukujEtykietePaczki/Fault/Fault"/>
</operation>
<operation name="wydrukjList">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukjListRequest" message="tns:wydrukjList"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukjListResponse" message="tns:wydrukjListResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/wydrukjList/Fault/Fault"/>
</operation>
<operation name="zapiszDokumentWydania">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszDokumentWydaniaRequest" message="tns:zapiszDokumentWydania"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszDokumentWydaniaResponse" message="tns:zapiszDokumentWydaniaResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszDokumentWydania/Fault/Fault"/>
</operation>
<operation name="pobierzDokumentWydania">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzDokumentWydaniaRequest" message="tns:pobierzDokumentWydania"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzDokumentWydaniaResponse" message="tns:pobierzDokumentWydaniaResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzDokumentWydania/Fault/Fault"/>
</operation>
<operation name="pobierzNumerDokumentuList">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzNumerDokumentuListRequest" message="tns:pobierzNumerDokumentuList"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzNumerDokumentuListResponse" message="tns:pobierzNumerDokumentuListResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzNumerDokumentuList/Fault/Fault"/>
</operation>
<operation name="zapiszList">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszListRequest" message="tns:zapiszList"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszListResponse" message="tns:zapiszListResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszList/Fault/Fault"/>
</operation>
<operation name="dodajKlienta">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/dodajKlientaRequest" message="tns:dodajKlienta"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/dodajKlientaResponse" message="tns:dodajKlientaResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/dodajKlienta/Fault/Fault"/>
</operation>
<operation name="dodajZlecenie">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/dodajZlecenieRequest" message="tns:dodajZlecenie"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/dodajZlecenieResponse" message="tns:dodajZlecenieResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/dodajZlecenie/Fault/Fault"/>
</operation>
<operation name="edytujKlienta">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/edytujKlientaRequest" message="tns:edytujKlienta"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/edytujKlientaResponse" message="tns:edytujKlientaResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/edytujKlienta/Fault/Fault"/>
</operation>
<operation name="szukajKlienta">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/szukajKlientaRequest" message="tns:szukajKlienta"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/szukajKlientaResponse" message="tns:szukajKlientaResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/szukajKlienta/Fault/Fault"/>
</operation>
<operation name="edytujList">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/edytujListRequest" message="tns:edytujList"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/edytujListResponse" message="tns:edytujListResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/edytujList/Fault/Fault"/>
</operation>
<operation name="usunKlienta">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/usunKlientaRequest" message="tns:usunKlienta"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/usunKlientaResponse" message="tns:usunKlientaResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/usunKlienta/Fault/Fault"/>
</operation>
<operation name="pobierzDostepneUslugi">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzDostepneUslugiRequest" message="tns:pobierzDostepneUslugi"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzDostepneUslugiResponse" message="tns:pobierzDostepneUslugiResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzDostepneUslugi/Fault/Fault"/>
</operation>
<operation name="zapiszListV2">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszListV2Request" message="tns:zapiszListV2"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszListV2Response" message="tns:zapiszListV2Response"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszListV2/Fault/Fault"/>
</operation>
<operation name="zapiszListZwrotnyV2">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszListZwrotnyV2Request" message="tns:zapiszListZwrotnyV2"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszListZwrotnyV2Response" message="tns:zapiszListZwrotnyV2Response"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/zapiszListZwrotnyV2/Fault/Fault"/>
</operation>
<operation name="dodajZlecenieV2">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/dodajZlecenieV2Request" message="tns:dodajZlecenieV2"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/dodajZlecenieV2Response" message="tns:dodajZlecenieV2Response"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/dodajZlecenieV2/Fault/Fault"/>
</operation>
<operation name="pobierzZbiorStatusow">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzZbiorStatusowRequest" message="tns:pobierzZbiorStatusow"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzZbiorStatusowResponse" message="tns:pobierzZbiorStatusowResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzZbiorStatusow/Fault/Fault"/>
</operation>
<operation name="potwierdzZbiorStatusow">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/potwierdzZbiorStatusowRequest" message="tns:potwierdzZbiorStatusow"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/potwierdzZbiorStatusowResponse" message="tns:potwierdzZbiorStatusowResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/potwierdzZbiorStatusow/Fault/Fault"/>
</operation>
<operation name="anulujZlecenie">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/anulujZlecenieRequest" message="tns:anulujZlecenie"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/anulujZlecenieResponse" message="tns:anulujZlecenieResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/anulujZlecenie/Fault/Fault"/>
</operation>
<operation name="pobierzWersje">
<input wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzWersjeRequest" message="tns:pobierzWersje"/>
<output wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzWersjeResponse" message="tns:pobierzWersjeResponse"/>
<fault message="tns:Fault" name="Fault" wsam:Action="http://ws.alfaprojekt.com/IklService/pobierzWersje/Fault/Fault"/>
</operation>
</portType>
<binding name="IklServicePortBinding" type="tns:IklService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pobierzStatusyPrzesylki">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="pobierzStatusyPaczki">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="wydrukujEtykiete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="wydrukujEtykietePaczki">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="wydrukjList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="zapiszDokumentWydania">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="pobierzDokumentWydania">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="pobierzNumerDokumentuList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="zapiszList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="dodajKlienta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="dodajZlecenie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="edytujKlienta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="szukajKlienta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="edytujList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="usunKlienta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="pobierzDostepneUslugi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="zapiszListV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="zapiszListZwrotnyV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="dodajZlecenieV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="pobierzZbiorStatusow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="potwierdzZbiorStatusow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="anulujZlecenie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
<operation name="pobierzWersje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"/>
</fault>
</operation>
</binding>
<service name="iKlientService">
<port name="IklServicePort" binding="tns:IklServicePortBinding">
<soap:address location="https://poland.fedex.com:443/fdsWs/IklServicePort"/>
</port>
</service>
</definitions>
